@layer tailwind-base, primevue;

@import '@unocss/reset/tailwind.css'layer(tailwind-reset) ;

@unocss

*{
    font-size : 14px;
}

html[dir="rtl"] {
    font-family: 'Cairo', sans-serif;
}

html[dir="ltr"] {
    font-family: 'Red Hat Display Variable', sans-serif;
}


body{
    width:100vw;
    min-height:100vh;
    overflow-x:hidden;
}